# Backend
backend/target/
backend/.mvn/
backend/*.jar
backend/.classpath
backend/.project
backend/.settings/
backend/bin/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.angular/

# IDEs
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Environment
.env
*.log